

.login{
    font-weight: 500;
    font-size: 40px;
    padding-bottom: 43px;
}
input{
    width: 250px;
    text-indent:25px;
}
/* input::placeholder{
    padding-left: 25px;
} */
input:focus{
border: none;
outline: none;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.signIn{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* flex: 1; */
    height: 79vh;

}
.signIn-form{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background: #AFD3E2;
    margin-top: 65px;
border-radius: 20px;
width: 250px;
    height: 49px;
    font-weight: 500;
    font-size: 22px;
    border: none;
}

.signIn-page-image {
 /* border: 1px solid red ; */
} 

.inputUserName{
    /* background-image: url(.\loginImage.png); */
    background-repeat: no-repeat;
}